<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ts.safetyguard">

    <!-- 蓝牙模块需要申请的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 音量控制需要申请的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <!-- 照相机需要申请的权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 闪光灯需要申请的权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- Wifi需要申请的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取位置需要申请的权限-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 杀后台进程权限 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <!-- 亮度控制需要申请的权限 -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppStartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activity.BlueToothActivity" />
        <activity
            android:name=".activity.CommentsActivity"
            android:label="@string/comments_title" />
        <activity android:name=".activity.WifiActivity"
            android:label="@string/wifi_list"/>
        <activity android:name=".activity.ElectricQuantityActivity"
            android:label="@string/battery" />
        <activity android:name=".activity.SettingActivity"
            android:label="@string/sound_volume_title"/>
        <activity android:name=".activity.NotepadActivity"
            android:label="@string/notepad_title"/>
    </application>

</manifest>